.kategorisabitleme {
    height: 100%;
    margin-top:55px;
}

.kategoribaslik {
    width: 108.3%;
    height: 60px;
    background-color: rgba(0,0,0,0.8);
}

    .kategoribaslik h2 {
        color: white;
        text-align: center;
        padding-top: 15px;
    }

.kategori-link-div {
    width: 108.3%;
    height: 80%;
    margin: auto;
}

.kategorilink {
    width: 100%;
}

/*.kategorilink a {
        border-radius: 5px;
        background-color:blue;
        margin-top: 1px;
        padding: 10px;
        height: 100%;
        color: blue;
    }

        .kategorilink a:hover {
            color: white;
        }*/
.nav-link {
    width: 100%;
    height: 50px;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
}

.kategoriler-title {
    width: 109.5%;
    background-color: red !important;
}

.kategoriler-item-1 :hover {
    background-color: black;
    color: white;
}

.kategoriler-item-2 :hover {
    background-color: black;
    color: white;
}

.kategoriler-item-3 :hover {
    background-color: black;
    color: white;
}

.kategoriler-item-4 :hover {
    background-color: black;
    color: white;
}

.kategoriler-item-5 :hover {
    background-color: black;
    color: white;
}

.kategoriler-item-6 :hover {
    background-color: black;
    color: white;
}

.normal-div {
    width: 100%;
    height: 755px;
    position: fixed;
}

.normal-ikinci-div {
    width: 500px;
    height: 650px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}

.son-div {
    width: 90%;
    height: 92%;
    position: absolute;
    margin: 25px;
}




.txt-img-div {
    width: 80%;
    height: 65%;
    position: absolute;
    margin: 27px;
    margin-left: 45px;
}

.txt-div {
    width: 100%;
    height: 40%;
    margin-top: 30px;
    position: relative;
}

    .txt-div input {
        width: 100%;
        height: 60px;
        font-size: 15px;
        border: 1px solid black;
        border-radius: 5px;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}