body{
	margin: 0px;
	padding: 0px;

}
.kgenel-div{
	width: 100%;
	height: 755px;
	position: fixed;
}
.kayit-genel-div{
	width: 500px;
	height: 600px;
	border: 1px solid gray;
	border-radius: 5px;
	position: relative;
	margin: auto;
	margin-top: 40px;
	background: rgba(7, 9, 10, 0.61);
}
.kayit-div{
	width: 90%;
	height: 80%;
	position: absolute;
	margin: 25px;
}
.img-logo-div{
	width: 100%;
	height: 110px;
}
.img-logo{
	margin-left: 20px;
}
.txt-div{
	width: 80%;
	height: 80%;
	position: absolute;
	margin: 5px;
	margin-left: 45px;
}
.txt-form-div{
	width: 100%;
	height: 85%;
	position: relative;
}
.txt-form-div input{
	width: 100%;
	height: 45px;
	font-size: 15px;
	border: 2px solid #986a6a;
	border-radius: 25px;
	text-align: center;
	background: rgba(14, 73, 69, 0.48);
	margin-top: 3px;
}
.kayit-buton-div{
    float:left;
	height: 45px;
	position: absolute;
	bottom: 10px;
}
.kayit-buton{
	background-color: rgb(220,220,220);
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid #2b1414;
	background: rgba(62,87,65,0.51);
	color: white;
	float: right;
	margin-top: 50px;
}
.kayit-buton:hover{
	background-color: #000;
	color: #fff;
}
#ad{
	width: 48%;
	float: left;
}
#soyad{
	position: absolute;
	right: 0px;
	width: 48%;
	float: left;
}
#url{
	width: 250px;
	height: 25px;
	border:0px;
}

.upload{
    margin-top:20px;
    position:absolute;
    
}